*{
  
  margin: 0px;
  padding: 0px;
 
}

body{
  background: aliceblue;
}
nav{
  background-color: blue;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.nav-left{
  display: flex;
  margin-left:170px;
  color: white;
}
.nav-left img,.nav-right img{
  width: 25px;
}
.nav-left h2{
  margin-left:10px;
}
.nav-right{
   margin-right:170px;
   display: flex;
   gap:30px;
   color: white;
}

.nav-right ul {
  list-style: none;
  display: flex;
  gap:20px;
}

.container-1{
  background-color: #FFFFFF;
  margin: 25px 150px;
  padding: 20px;
}
.section-1{
  display: flex;
  flex-direction: column;
  ki
}
.section-1 h2 ,.section-2 h2{
  margin: 20px 0;
}

.container-player{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
  margin:20px 0;
}

.players{
  display:flex;
  gap: 20px;
  align-items: center;
}
.players img {
  width:50px;
}
.section-2 {
  display: flex;
  flex-direction: column;

}

.container-blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 20px 0;
}
.blogs{
  display: flex;
  gap:10px;
}
.blogs img{
  width:150px;
}
.blue{
  color:blueviolet;
  font-weight: 700;
}
.blogs h6{
  color: skyblue;
  font-weight: 200;
}
.container-2{
  background-color: #FFFFFF;
  margin: 25px 150px;
  padding: 20px;
}
.container-box{
  display: flex;
  margin: 20px 0;
  gap:25px;
}
.box{
  border-radius: 5px;
  width:200px;
  box-shadow:1px 1px 0px #DBE9FA;
  padding: 5px;
}
.h6-1{
  color:lime ;
  margin: 10px 0;
}
.box img{
  width:175px;
  margin-bottom: 10px;
}
.box div img {
  width: 12px;
}
.rating{
  display:flex;
  margin-top: 20px;
  align-items: flex-end;
  justify-content: space-between;
}
.box-bottom{
  display: flex;
  
}
.box-bottom h6 {
  margin-left: 10px;
}

.img-clock{
 display: flex;
 background-color: aqua;
 padding:0  10px;
 border-radius: 15px;
 gap: 10px;
 align-items: center;
 
}
.img-clock img{
  margin-top: 8px;
}

@media only screen and (max-width:576px) {
  .container-1,.container-2,.nav-left,.nav-right{
  margin: 0px;
  padding: 10px;
  }
  .container-player{
  grid-template-columns: repeat(2,1fr);
  }
  .container-blog {
    grid-template-columns: repeat(1, 1fr);
  }
  .container-box{
    flex-direction: column;
  }
}